@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("../fonts/spotify.eot"); /* IE9*/
  src: url("../fonts/spotify.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/spotify.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/spotify.woff") format("woff"), /* chrome、firefox */
  url("../fonts/spotify.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg"); /* iOS 4.1- */
}

body {
  font-family: "CircularSpotifyTxT-Black";
  color: #707070;
}

/* LAYOUT SETTINGS */

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sidebar {
  background-color: #000000;
  height: calc(100% - 100px);
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
}

#main-window {
  background-color: #141922;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  position: absolute;
  top: 0;
  left: 200px;
  overflow-y: scroll;
}

#music-player {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

/* EREDITABLES */

h4, h2 {
  color: white;
}

h4, p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #707070;
}

/* USEFUL PROPERTIES */

.grey {
  color: #707070;
}

.white {
  color: white;
}

.menu {
  padding-left: 0;
}

.menu > li {
  list-style: none;
  padding: 0.5rem 0;
}

.text-uppercase {
  text-transform: uppercase;
}

/* SIDEBAR */

#sidebar .logo {
  width: 70%;
  margin: 1rem;
}

#sidebar .xs-logo {
  width: 30px;
  display: none;
}

#sidebar .header-sidebar .side-menu .menu-icon {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

#sidebar .header-sidebar .side-menu .menu li, .playlist {
  padding-left: 1rem;
}

#sidebar .header-sidebar .side-menu .menu li:first-of-type {
  border-left: 2px solid #ADFF2F;
}

#sidebar .header-sidebar .side-menu .menu li:hover {
  border-left: 2px solid #ADFF2F;
}

#sidebar .header-sidebar .side-menu .menu li > a:hover {
  color: white;
}

#sidebar .header-sidebar .playlist .button {
  background-color: #A3A3A3;
  color: black;
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

#sidebar .header-sidebar .playlist a.big {
  font-size: 15px;
}

#sidebar .header-sidebar .playlist li > a:hover {
  color: white;
}

#sidebar .header-sidebar .playlist a:hover {
  color: white;
}

#sidebar .header-sidebar .playlist a:hover .button {
  background-color: white;
}

#sidebar .header-sidebar {
  position: relative;
  height: calc(100% - 75px);
  min-height: 400px;
  overflow: hidden;
}

#sidebar .header-sidebar .playlist {
  height: 250px;
  overflow: hidden;
}

#sidebar .header-sidebar .scroll {
  height: 80%;
  overflow: auto;
}

#sidebar .bottom-sidebar {
  width: 100%;
  height: 75px;
}

#sidebar .bottom-sidebar .download {
  border-bottom: 1px solid grey;
  margin: 0 1rem;
  padding: 0.5rem 0;
}

#sidebar .bottom-sidebar .download img {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

#sidebar .bottom-sidebar .download:hover a {
  color: white;
}

#sidebar .bottom-sidebar .profile {
  margin: 0 1rem;
  padding: 0.5rem 0;
}

#sidebar .bottom-sidebar .profile img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #A3A3A3;
}

/* MAIN WINDOW */

#main-window .upgrade {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  width: calc(100% - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

#main-window .upgrade .cta {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 10px;
  margin-right: 20px;
}

#main-window .upgrade .cta:hover {
  transform: scale(1.2);
}

#main-window .playground {
  margin-top: 85px;
}

#main-window .playground .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-window .playground .menu > li {
  display: inline-block;
  margin: 0 10px;
}

#main-window .playground .menu > li:hover a {
  color: white;
}

#main-window .playground .menu .green-underline {
  height: 3px;
  width: 40px;
  background-color: #ADFF2F;
  margin: 0 auto;
}

#main-window .playground .container {
  padding: 10px;
}

#main-window .playground .flex-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#main-window .playground .flex-container .album {
  text-align: center;
  position: relative;
  width: calc((100% - 60px) / 6);
  margin: 0 5px;
}

#main-window .playground .flex-container .album .cover {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

#main-window .playground .flex-container .album .cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#main-window .playground .flex-container .album .cover .overlay i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#main-window .playground .flex-container .album .cover > img {
  width: 100%;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

#main-window .playground .flex-container .album:hover {
  cursor: pointer;
}

#main-window .playground .flex-container .album:hover .overlay {
  display: block;
}

#main-window .playground .flex-container .album p {
  padding: 0;
}

/* MUSIC PLAYER */

#music-player .player-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin: 0 5px;
  width: 250px;
}

#music-player .player-left img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

#music-player .player-left h4,
#music-player .player-left p {
  margin: 0;
}

#music-player .player-left .title {
  margin-left: 5px;
  margin-right: 30px;
}

#music-player .player-left .title h4:hover,
#music-player .player-left .title p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#music-player .player-left i {
  margin: 0 5px;
}

#music-player .player-left i:hover {
  color: white;
}

#music-player .player-center {
  min-width: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#music-player .player-center .pulsanti {
  text-align: center;
}

#music-player .player-center .pulsanti i {
  margin: 0 10px;
  vertical-align: middle;
}

#music-player .player-center .pulsanti i:hover {
  cursor: pointer;
}

#music-player .player-center .pulsanti i[class*="play"]:hover {
  transform: scale(1.1);
}

#music-player .player-center .play-bar {
  margin-top: 5px;
  width: 100%;
}

#music-player .player-center .play-bar > span {
  font-size: 9px;
}

#music-player .player-center .play-bar .bar {
  min-width: 130px;
}

.bar {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 4px;
  background-color: #5A5A5A;
  vertical-align: middle;
  margin: 0 5px;
}

.active-bar {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 25%;
  height: 4px;
  background-color: #C1C1C1;
}

.round {
  position:absolute;
  top: -3px;
  left: calc(25% - 3px);
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
}

.bar:hover {
  cursor: pointer;
}

.bar:hover .active-bar {
  background-color: #ADFF2F;
}

.bar:hover .round {
  opacity: 1;
}

#music-player .player-right {
  width: 250px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

#music-player .player-right i {
  margin: 0 10px;
}

#music-player .player-right .bar {
  width: 120px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

  /* MAIN WINDOW */

  #main-window .playground .flex-container .album {
    width: calc((100% - 40px) / 4);
  }

}

@media screen and (max-width: 992px) {

  /* MAIN WINDOW */

  #main-window .playground .flex-container .album {
    width: calc((100% - 20px) / 2);
  }

  /* MUSIC PLAYER */

  #music-player {
    font-size: 0.7rem;
  }

  #music-player .player-left .title {
    margin-right: 5px;
  }

  #music-player .player-left {
    width: 200px;
  }

  #music-player .player-right {
    width: 200px;
  }

}

@media screen and (max-width: 768px) {

  /* LAYOUT SETTINGS */

  #sidebar {
    width: 50px;
  }

  #main-window {
    width: calc(100% - 50px);
    left: 50px;
  }

  #main-window .upgrade {
    width: calc(100% - 50px);
  }

  .display-xs-none {
    display: none;
  }

  /* SIDEBAR */

  #sidebar .xs-logo {
    display: block;
  }

  #sidebar .header-sidebar {
    min-height: 190px;
  }

  #sidebar .bottom-sidebar .download {
    text-align: center;
    border: none;
  }

  #sidebar .bottom-sidebar .download img {
    margin-right: 0;
  }

  /* MUSIC PLAYER */

  #music-player .player-left {
    width: 30%;
  }

  #music-player .player-right {
    width: 30%;
  }

  #music-player .player-right .bar {
    width: 40%;
  }
}
